.logo {
    width: 85px;
    height: 85px;
    border: none;
    border-radius: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../images/Logo.png');
    background-color: rgb(28, 30, 34);
    box-shadow: 0 0 3px 2px white;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    background-blend-mode: color-dodge;
    z-index: 1;
    transition: 2s;
}


.logo:hover {
    box-shadow: 0 0 10px 2px deepskyblue;
    color: rgb(2, 149, 255);
    transition: 1s;
   
    
}