.container {
    display: flex;
    flex-direction: column;
    background: fixed radial-gradient( 50% 70%,  deepskyblue, rgb(0, 0, 0));
    width: 100vw;
    min-height: 1000px;
}

.gameCardsPositioning {
    margin: 10px;
    width: 30vw;
}

.navBarPositioning {
    border-top: 2px solid rgb(48, 49, 51);
    margin-top: 20px;
    margin-bottom: 20px;
}

.filters {
    width: 100vw;
}