.container {
    display: flex;
    flex-direction: column;
    background-color:  rgb(28, 30, 34);
    width: 100vw;
}

.navBarPositioning {
    border-top: 2px solid rgb(48, 49, 51);
    border-bottom: 1px solid white;
    background-color: rgb(28, 30, 34);
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainSection {

    height: 1000px;
}

.filters {
    width: 100vw;

}