.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: white;
    flex-grow: 1;
    flex-shrink: 1;
}

.videoPlayerPositioning {
    position: relative;
    width: 50%
}

.backgroundPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.5;
}

.carouselItemsSection {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
}


@media (max-width: 900px) {


    .videoPlayerPositioning {
        width: 70%;
    }
}

@media (max-width:800px) {
    .container{
        background-color: transparent;
    }
    .backgroundPicture {
        display: none;
    }
}