.button {
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 5px 0 deepskyblue;
    color: deepskyblue;
    border-color: deepskyblue;
    background-color: rgba(28, 30, 34, 0.5);
}

.button:active{
    box-shadow: 0 0 5px 0 white;
    color: white;
    border-color: white;
}