.container {
    border-radius: 10px;
    color: azure;
    border: 1px solid white;
    background-color: deepskyblue;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

.container:hover {
    background-color: deepskyblue;
    box-shadow: 0 0 3px 1px deepskyblue;
    transition: 0.5s;
}