.tag {
    font-size: 15px;
    margin: 5px;
    padding: 3px;
    color: azure;
    transition: all 1s;
    cursor: pointer;

}

.tag:hover {
 
    transition: 0.5s;
}

.tagSelected {
    font-size: 15px;
    margin: 5px;
    padding: 3px;
    color: black;
    background-color: azure;
    border-radius: 20px;
    transition: background-color 0.5s;
    cursor: pointer;
}

.box {
    display: none;
}