.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.logo {
    height: 80%;
    width: 40%;
    object-fit: cover;
}

p {
    color: azure;
    font-size: 20px;
}