.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title {
    padding-left: 20px;
    color: azure;
    margin-bottom: 10px;
}

.gamesCardsContainer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

