.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: fixed radial-gradient(50% 70%, deepskyblue, rgb(0, 0, 0));
    background-position: center;
    width: 100vw;
    min-height: 1000px;
}

.welcomeSection {}

.buttonPositioning {
    width: 10vw;
    height: 10vh;
    margin-top: 30px;
}

.carouselPositioning {
    width: 100%;
    height: 70vh;
}

.gameCardsContainerPositioning {
    margin: 50px 30px 0px;

    & .elements {
        width: 30vw;
        height: 43vh;
        margin: 10px;
    }
}

.visitCardConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.visitCardPositioning {
    width: 50vw;
}


@media (max-width: 1200px) {
    .gameCardsContainerPositioning {
        margin: 50px 20px 0px;

        & .elements {
            width: 30vw;
            height: 35vh;
            margin: 10px;
        }
    }

    .buttonPositioning {
        width: 10vw;
        height: 7vh;
    }

    .visitCardPositioning {
        width: 60vw;
        padding: 10px;
    }

    .carouselPositioning {
        width: 100%;
        height: 60vh;
    }
}

@media (max-width: 992px) {
    .gameCardsContainerPositioning {
        margin: 30px 10px 0px;

        & .elements {
            height: 30vh;
        }
    }

    .buttonPositioning {
        width: 12%;
    }

    .visitCardPositioning {
        width: 70vw;
    }

    .carouselPositioning {
        height: 50vh;
    }
}

@media (max-width: 800px) {
    .gameCardsContainerPositioning {
        margin: 30px 0px 0px;

        & .elements {
            width: 32vw;
            height: 25vh;
            margin: 5px;
        }
    }

    .buttonPositioning {
        width: 15vw;
    }

    .visitCardPositioning {
        width: 80vw;
        padding: 0px;
    }

    .carouselPositioning {
        height: 40vh;
    }

}

@media (max-width: 750px) {
    .gameCardsContainerPositioning {
        margin: 30px 0px 0px;

        & .elements {
            width: 80vw;
            height: 50vh;
            margin: 5px;
        }
    }

    .visitCardPositioning {
        width: 90vw;
    }

    .carouselPositioning {
        display: none;
    }

}

@media (max-width: 500px) {
    .gameCardsContainerPositioning {
        margin: 30px 0px 0px;

        & .elements {
            width: 95vw;
            height: 45vh;
            margin: 5px;
        }
    }

    .buttonPositioning {
        width: 30vw;
        height: 10vh;
    }

    .visitCardPositioning {
        flex-direction: column;
        width: 90vw;
    }

}


@media (max-width: 375px) {
    .gameCardsContainerPositioning {
        margin: 30px 0px 0px;

        & .elements {
            width: 95vw;
            height: 30vh;
            margin: 5px;
        }
    }

    .buttonPositioning {
        width: 30vw;
    }

}